html,body {
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.red-box {
    height: 100px;
    width: 100px;
    background: red;
    position: absolute;
    top: 50px;
    left: 0px;
}
